<div class="sidenav">
    <div class="py-4 container">
        <h1 class="text-white text-center">Mj Shop</h1>
        <hr class="text-white">
        <div class="container d-flex flex-column sidenav-links">
            <li routerLink="/dashboard" routerLinkActive="link-active" class="list-group-item list-group-item-action d-flex gap-2" >
                <i class="bi bi-speedometer"></i><span>Dashboard</span>
            </li>
            <li routerLink="/user-management" routerLinkActive="link-active" class="list-group-item list-group-item-action d-flex gap-2">
                <i class="bi bi-person-circle"></i><span>User</span>
            </li>
            <li routerLink="/product" routerLinkActive="link-active" class="list-group-item list-group-item-action d-flex gap-2">
                <i class="bi bi-bag-fill"></i><span>Products</span>
            </li>
            <li  class="list-group-item list-group-item-action d-flex gap-2">
                <i class="bi bi-gear"></i><span>Settings</span>
            </li>
            <li routerLink="/login"  class="list-group-item list-group-item-action d-flex gap-2">
                <i class="bi bi-box-arrow-left"></i><span>Logout</span>
            </li>
          </div>
    </div>
</div>