<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1 class="Headings">Login</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
                    <p class="TextStyle1">Username:</p>
				    <input type="text" class="login-field" value="" placeholder="" id="login-name">
				    <label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
                    <p class="TextStyle1">Password:</p>
				    <input type="password" class="login-field" value="" placeholder="" id="login-pass">
				    <label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
                
                <a class="login-link TextStyle2" href="SignUp.html">Don't have an account? Sign Up.</a><br>
				<a class="btn btn-primary btn-large btn-block" href="Index.html">Login</a>
			</div>
            <br>
            <hr class="border">
            <div class="app-title">
			</div>
			</div>
		</div>
</body>
