<div class="topnav">
    <div class="container d-flex justify-content-end" style="height: 100%;">
        <div  class="d-flex align-items-center gap-2" style="cursor: pointer;">
            <div class="dropdown" style="width: 40px; height: 40px;">
                <img
                style="border-radius: 100%;"
                  class="img-fluid"
                  src="https://scontent.fmnl17-5.fna.fbcdn.net/v/t39.30808-6/292129276_765704401251788_4672371069152692822_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG2q8OmWzVdpkVn2Lr3eyIwgYFwGot6_fuBgXAai3r9-zcTx1ysOIWLrLYQ57z3f_v29b1j70uouWT_UyIj8sgq&_nc_ohc=TOtJU8hDOoAAX-wNdau&_nc_ht=scontent.fmnl17-5.fna&oh=00_AfDtxUNS3dKDw5xFhmjrJSxPjlbw05QRwQIAVjEFoWAosw&oe=6535C861"
                  alt=""
                />
              </div>
              <h1 class="fs-5 text-white">Mj Angeles</h1>
        </div>
        
    </div>
  
</div>
